<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"></meta>
</head>
<body>
    <!-- ポイント：th:fragment -->
    <div th:fragment="bbs_contents">
        <div class="page-header">
            <h1>投稿をしましょう</h1>
        </div>
        <tr th:each="bbs : ${bbsList}">
 		   【ID】<td th:text="${bbs.id}"></td><br/>
    	   【名前】<td th:text="${bbs.author}"></td><br/>
    	   【件名】<td th:text="${bbs.subject}"></td><br/>
    	   【本文】<td th:text="${bbs.body}"></td><br/>
    	   <a class="btn btn-primary" action="delete" th:href="@{'/bbs' + ${bbs.id}}"  
    	   th:if="${bbs.author} == ${loginName}">
           	削除
           </a>
    	   <hr>
		</tr>
        書き込みをしましょう<br/>
        【投稿フォーム】
        <form name="form"  method="post" action="/bbs">
		    名前：<em th:text="${loginName}" name="author"></em><br>
		    件名：<input type="text" name="subject" size="60"><br>
		    本文：<textarea cols="60" rows="5" name="body"></textarea><br>
		    <input type="submit" value="送信">
    	</form>
    </div>
</body>
</html>